@import '../../../globalStyles/fonts';
@import '../../../globalStyles/colors';
@import '../../../globalStyles/sizes';

@mixin stickyTop() {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar {
	@include stickyTop();
	overflow: hidden;
	background-color: color(homepage, tkd-gray, 1);
	margin: 0;
	z-index: 1;

	button {
		display: none;
	}

	ul {
		text-align: center;
	}

	li { 
		display: inline;
		list-style-type: none;

		a {
			text-align: center;
			padding: 1.4rem 1.6rem;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				color: color(homepage, tkd-gray, 1);
				background: color(homepage, tkd-white, 1);
			}
		}
	}

	@include mediaQueryFor(small, max) {
		
		transition: all 2s ease;

		.nav-links {
			display: none;
		}

		button {
			padding: 1.2rem 1.5rem;
			display: flex;
			align-items: center;
			color: inherit;
			background: transparent;
			border: none;
			cursor: pointer;
		}

		.nav-open {
			display: block;
			margin: 0;
			padding: 0;
			text-align: left;
			li {
				display: block;
				padding-left: 1.5rem;
				padding-bottom: 1rem;

				a {
					padding: 0.2rem;
				}
			}
		}

		
	}
}