@import '../../../globalStyles/fonts';
@import '../../../globalStyles/colors';
@import '../../../globalStyles/sizes';

@mixin stickyTop() {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar {
	@include bodyFont();
	@include stickyTop();
	overflow: hidden;
	background-color: color(homepage, tkd-gray, 1);
	margin: 0;
	z-index: 1;

	button {
		display: none;
	}

	ul {
		text-align: center;
	}

	li { 
		display: inline;
		list-style-type: none;

		a {
			text-align: center;
			padding: 1.4rem 1.6rem;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				color: color(homepage, tkd-gray, 1);
				background: color(homepage, tkd-white, 1);
			}
		}
	}

	@include mediaQueryFor(small, max) {
		button {
			display: inline-block;
			@include bodyFont();
			color: inherit;
			background: transparent;
			border: none;
			cursor: pointer;
			outline: none;
		}

		li {
			display: block;
		}
	}
}