@import './sizes';

@mixin sectionHeaderFont {
	font-family: 'Bebas Neue';
	font-size: 6rem;
	font-weight: normal;

	@include mediaQueryFor(xsmall, max) {
		font-size: 12vw;
	}
}

@mixin bodyFont {
	font-family: 'Roboto';
	font-size: 1.8rem;
	font-weight: normal;
}
