// colors, fonts, and sizes need to be imported for each use case
@import 'colors';
@import 'sizes';
@import 'fonts';

// app and grid styles are imported globally here
// Don't import elsewhere
@import 'app';
@import 'grid';

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-size: 10px;
	scroll-behavior: smooth;
	height: auto;
	min-height: 100%;
}

body {
	margin: 0;
	color: color(homepage, tkd-white, 2);
	background: linear-gradient(-45deg, color(homepage, tkd-gray, 1), color(homepage, tkd-red, 1), color(homepage, tkd-gray, 1));
	@include bodyFont();
}

a {
	color: color(homepage, tkd-white, 2);

	&:hover {
		text-decoration: none;
	}
}

#root {
	display: flex;
	flex-direction: column;
}