@import '../../../globalStyles/fonts';
@import '../../../globalStyles/colors';

.section-body {
	@include bodyFont();

	.font-awesome-icon {
		vertical-align: middle;
		padding: 0.2rem 0.5rem;
		height: 2rem;
		width: 2rem;
	}
}