@import '../../../globalStyles/sizes';

.link-wrapper {
	&__image {
		display: block;
		padding-bottom: 1rem;
		@include mediaQueryFor(small, max) {
			max-width: 20rem;
			margin: 0 auto;
		}

		img {
			width: 100%;
		}
	}
	&-content {
		padding-left: 2rem;
		padding-bottom: 1.5rem;
		@include mediaQueryFor(small, max) {
			padding-left: 0;
		}
		&__link {
			font-weight: bold;
		}
	}
}

