.classes {
	&__class-times {
		padding-top: 1rem;
		text-align: center;
	}

	&__class-map {
		text-align: center;
		padding-top: 1.5rem;
		iframe {
			width: 80rem;
			height: 60rem;
			max-width: 95vw;
			max-height: 50vh;
		}
	}
}